.root-wrapper {
  margin-inline: auto;
  width: 100%;
  display: flex;
  min-height: 100dvh;
  position: relative;
}
.central-content {
  display: flex;
  
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 90dvh;
}
.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(175, 98, 230);
  margin-top: 20px;
}

.sidebar {
  margin-top: 11dvh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  background: black;
  align-items: center;
  color: white;
  padding: 0 10px;
}
.theme-headline {
  font-size: 1.3rem;
}
.theme-button {
  padding: 10px 20px;
  width:100%;
  outline: none;
  background: rgb(15, 15, 15);
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}
.theme-button::before {
  width: 100px;
  height: 30px;
  content: "";
  background: rgb(247, 107, 247);
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  transition: 1s ease-in-out;
}
.theme-button:hover::before {
  left: 300px;
}
.excercises-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: scroll; /* Behåll möjligheten att scrolla */
  scrollbar-width: none; /* För Firefox */
  -ms-overflow-style: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.sidebar-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 10px;
  width: 100%;
}
.save-btn{
  padding: 10px 0;
  background: rgb(113, 250, 113);
  color: black;
  width: 100%;
  transition: 0.4s ease-in-out ;
}
.save-btn:hover{
  background: rgb(29, 129, 29);
}